.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8px;
    border: solid #036666;
    background-color: #036666 ;

}

.button{
    border: none;
    color: white;
    font-style: bold ;
    font-family: monospace;
    font-size: 35px;
    background-color: #036666;


}