


.list{
    border-radius: 8px;
    border: solid 3px #14746F;
    background-color: #14746F ;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 17px;   
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    height: 26px;
    width: 250px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}